<section class="page" id="form_login">
    <h2>Login</h2>
    <form onsubmit="Auth.login(event)">
        <fieldset style="display: grid; grid-auto-flow: row; grid-row-gap: 10px;">
            <label for="login_email">Your Email</label>
            <input id="login_email" placeholder="joao.antonio@...com" type="email" autocomplete="username" required>
            <section hidden id="login_section_password">
                <label for="login_password">Your Password</label>
                <input id="login_password" type="password" autocomplete="current-password">
            </section>
            <section hidden id="login_section_webauthn">
                <button type="button" onclick="Auth.webAuthnLogin()">Login With Authn</button>
            </section>
        </fieldset>
        <p>
            <button type="submit">Continue</button>
        </p>
        <p>
            <a href="/auth/register">Register new account instead</a>
        </p>
        <fieldset style="display: flex; width: 100px; border: none;">
            <div id="g_id_onload"
                 data-client_id="985634069069-fgegqtlbjbk2eui04lce5kkdoaml3egt.apps.googleusercontent.com"
                 data-context="signin"
                 data-ux_mode="popup"
                 data-callback="loginFromGoogle"
                 data-auto_prompt="false">
            </div>

            <div class="g_id_signin"
                 data-type="standard"
                 data-shape="pill"
                 data-theme="filled_black"
                 data-text="signin"
                 data-size="large"
                 data-logo_alignment="left">
            </div>
        </fieldset>
    </form>
</section>
